/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/*Estilos de header*/
.container {
 /* width: 100%;*/
  margin: 0;
  padding: 0 20px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo h1 {
  margin: 0;
  font-size: 36px;
}
.logo a {
  text-decoration: none;
  color: #e74c3c;
  text-align: center;
}

.logo span{
  color:#030303;
}

nav {
  display: flex;
  text-decoration: none;
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-menu li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.main-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: color 0.1s;
}

.main-menu a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #e74c3c;
  
}

/* Dropdown menu */
.dropdown {
  position: relative;
  
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding:0;
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  text-align: center;

}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  width: 100%; 
  box-sizing: border-box; /* Asegura que padding no aumente el ancho */
}

.dropdown-menu a {
  color: #000000;
}

.dropdown-menu li:hover {
  color:#e74c3c;
}

/* Home Section */
#home {
  background: url('images/banner.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px 0; /* Aumentar el padding para mayor espacio */
  color: white;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif; /* Centrar todo el texto */
}

#home h1 {
  font-size: 3rem; /* Aumentar tamaño de la fuente */
  
  margin-bottom: 20px;
  font-weight: bold;
}

#home h1 span {
  color: #e74c3c;
  background-color: #ffffff;
}

#home p {
  font-size: 1.5rem;
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 40px;
}

/* Search Form */
section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: 'Roboto', Arial, sans-serif;
}

/* Estilo para el formulario */
form {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  align-items: center; 
  max-width: 800px; 
  margin: 0 auto; 
}

form > div {
  display: flex;
  justify-content: center; 
  gap: 40px; 
}

form div > div {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

form article {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: white; 
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
}

form select {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 400px;
}

/* Botón de envío */
form button {
  font-family: 'Roboto', Arial, sans-serif;
  padding: 12px 30px;
  background-color: #e74c3c; 
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: rgba(219, 75, 59, 0.685);
}

/* Responsividad */
@media (max-width: 768px) {
  form > div {
    flex-direction: column; 
    gap: 20px;
  }

  form select {
    width: 100%; 
  }

  form button {
    width: 20%; 
  }
}




















