/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos de header*/
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo h1 {
  margin: 0;
  font-size: 36px;
}
.logo a {
  text-decoration: none;
  color: #e74c3c;
  text-align: center;
}

.logo span{
  color:#030303;
}

nav {
  display: flex;
  text-decoration: none;
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-menu li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.main-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  transition: color 0.1s;
}

.main-menu a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #e74c3c;
  
}

/* Dropdown menu */
.dropdown {
  position: relative;
  
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding:0;
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  text-align: center;

}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  width: 100%; 
  box-sizing: border-box; /* Asegura que padding no aumente el ancho */
}

.dropdown-menu a {
  color: #000000;
}

.dropdown-menu li:hover {
  color:#e74c3c;
}
























/* Home Section */
#home {
  background: url('images/banner.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  color: white;
}

#home h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Roboto', Arial, sans-serif; /* Aplicando la fuente 'Roboto' */
  margin-bottom: 20px;
}

#home p {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Roboto', Arial, sans-serif; /* Aplicando la fuente 'Roboto' */
}

/* Search Form */
section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', Arial, sans-serif; /* Fuente más legible */
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

form div {
  display: flex;
  gap: 20px;
}

form article {
  display: flex;
  flex-direction: column;
}

form select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', Arial, sans-serif; /* Fuente legible en botones */
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .container {
    width: 100%;
  }

  form div {
    flex-direction: column;
  }
}
