/* Global Styles */
body {
  font-family: 'Roboto', Arial, sans-serif; /* Usando una fuente externa como respaldo */
  margin: 0;
  padding: 0;
  font-size: 16px; /* Tamaño base para una mejor legibilidad */
  line-height: 1.5; /* Mejora la legibilidad */
  color: #333; /* Color de texto para mejorar el contraste */
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Header Styles */
nav {
  background-color: #ffffff;
}

.main-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.main-menu li {
  position: relative;
}

.main-menu li a {
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.main-menu li a:hover {
  background-color: #555;
}

/* Estilo para el submenú desplegable */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li a {
  padding: 10px 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Estilos para mejorar la visibilidad del menú */
.main-menu li:hover {
  background-color: #444;
}
/* Home Section */
#home {
  background: url('images/banner.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  color: white;
}

#home h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Roboto', Arial, sans-serif; /* Aplicando la fuente 'Roboto' */
  margin-bottom: 20px;
}

#home p {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Roboto', Arial, sans-serif; /* Aplicando la fuente 'Roboto' */
}

/* Search Form */
section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', Arial, sans-serif; /* Fuente más legible */
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

form div {
  display: flex;
  gap: 20px;
}

form article {
  display: flex;
  flex-direction: column;
}

form select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', Arial, sans-serif; /* Fuente legible en botones */
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .container {
    width: 100%;
  }

  form div {
    flex-direction: column;
  }
}
